body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-title {
  color: black;
  font-size: 1.9rem;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: -21px;
  // background: black;

}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

.container {
  margin-top: 80px;
}
.buttons{
  display: flex;
}

.signup{
  margin-left: 10px;
}