<div class="container">

  <div class="row">

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

      <div class="card border-0 shadow rounded-3 my-5">

        <div class="card-body p-4 p-sm-5">

          <h5 class="card-title text-center">Sign In</h5>

          <!-- <form [formGroup]="loginForm" (submit)="onSubmit()"> -->
            <form (submit)="onSubmit()"> 

            <!-- <div class="form-floating mb-3">
              <input type="email" formControlName="email" class="form-control" placeholder="name@example.com" [(ngModel)]="email">
              <label for="floatingInput">Email address</label>
            </div> -->

            <div>
              <label>Email address</label>
              <input type="email" name="email" placeholder="name@example.com" [(ngModel)]="email" style="margin-left:40px">
             
            </div>


            <!-- <div class="form-floating mb-3">
              <input type="password" formControlName="password" class="form-control" placeholder="Password" [(ngModel)]="password">
              <label for="floatingPassword">Password</label>
            </div> -->
            
            <div style="margin-top:30px">
              <label>Password</label>
              <input type="password" name="password" placeholder="Password" [(ngModel)]="password" style="margin-left:70px">
              
            </div>

            <div class="buttons">
              <div class="login">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">sign in</button>
              </div>


              <div class="signup">
                <button class="btn btn-primary btn-login text-uppercase fw-bold"  (click)="signup()">sign up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>