.dataCardContainer {
    box-shadow: 0 4px 7px 0 rgba(208, 208, 208, 0.5);
    background: #ffffff;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}


.cardHeader {
    padding: 15px;
    padding-bottom: 15px;
    display: inline-block;
    //  display:inline-block;
    justify-content: space-between;

    .cardTitle {
        color: #231F20;
        font-family: 'RobotoBold';
        font-style: normal;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        margin-left: -12px;
        top: 6px;
        position: relative;
    }

    .advFilter {
        height: 25px;
        width: 139px;
        color: #231f20;
        font-family: RobotoRegular;
        font-size: 12px;
        letter-spacing: 0;
        box-shadow: 0 2px 4px #00000080;
        border-radius: 12px;
        display: flex;
        justify-content: space-around;
        // margin-right: 20px;
        margin-top: 2px;
        align-items: 2px;
        margin-left: 900px;
    }

    .filterIcon {
        height: 20px;
        cursor: pointer;
    }

    .bulkupload {
        height: 19px;
        width: 100px;
        color: #54AD45;
        font-family: RobotoRegular;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        text-align: right;
        // margin-right: 20px;
        top: 6px;
        position: relative;
        margin-left: 20px;

    }

    .download {
        height: 19px;
        width: 72px;
        color: #E33044;
        font-family: RobotoRegular;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        text-align: right;
        margin-left: 20px;
        top: 6px;
        position: relative;
    }

    .pointerIcon {
        height: 18px;
        margin-left: 20px;
    }



}

.tableheader {
    height: 60px;
    background-color: #54AD45;
    font-size: large;
}

.tabledata {
    height: 45px;
}